<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/75bcdb668a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/articles">Wikinimous</a>
      </li>
      <li class="nav-item">
        <a href="/articles/new" class="nav-link">New Article</a>
      </li>
    </ul>
    <hr>
    <%= yield %>
  </body>
</html>
